@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/*Color schemes will be used are slate: dark blue   greyish blue    light blue  greyish white        */
                                    /*  #2E424D     #5B8291         #98DAD9     #EAEBED     
                                                                    #00615f                   */
:root{                  
    --dark-blue: #2E424D; 
    --greyish-blue: #5B8291;   
    --light-blue: #98DAD9;
    --very-Lblue: #affffe;
    --pale-blue: #00615f;
    --greyish-white:#EAEBED;  
    --yellow:#f9d806;
    --black:#130f40;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

}       
/*-------------defualt style of html and section text layout -------------*/
*{ 
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}
/*-------------section sizes, section-headings position-------------*/
.heading{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color:#2E424D; 
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom:1rem; left:0;
    height: 100%;
    width: 100%;
    background: #98DAD9;
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}
/*-------------Login button and design for all sections -------------*/
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#98DAD9;
    color:#130f40;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}
.btn:hover{
    background: #5B8291;
}
.btn2{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 1rem;
    background:#cccccc;
    color:#130f40;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
    opacity: 0.6;
    
}
.btn2:hover{
    color:#fff;
    background: #9b0e0e;
    opacity: 1;
}

.btn3{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 1rem;
    background:#cccccc;
    color:#130f40;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
    opacity: 0.6;
    
}
.btn3:hover{
    color:var(--black);
    background:#94fffd;
    opacity: 1;
}


/*-------------header positioning, aligning and website background-------------*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:3rem 9%;
    z-index: 1000;
    background: #fff;
}

/*-------------header + Logo font and color style of Carmaniax -------------*/
.header .logo{
    font-size: 2.5rem;
    color: #5B8291;
    font-weight: bolder;
}
.header .logo span{
    color: #98DAD9;
}

/*-------------header home-to-contacts font styling and hovering -------------*/
.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color: var(--black);
}
.navbar li{
    list-style: none;
    display: inline-block;
}
.navbar span {
    padding-left: 5px;
}
li a{
    margin:0 1rem;
    font-size: 1.7rem;
    color: #130f40;
    text-decoration: none;
}
.navbar .cart ion-icon {
    vertical-align: bottom;
    font-size: 25px;
    padding-right: 2px;
}
.cart a{
    cursor: pointer;
    text-decoration: none;
} 
.header .navbar a:hover{
    color: #98DAD9;
}

/*-------------login button styling, hovering and ui------------- */
#login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 2.5rem;
    color:var(--light-color);
}
/*shadow box scroll*/
.header.active{
    box-shadow: var(--box-shadow);
    padding:2rem 9%;
    background:#EAEBED;
}

#menu-btn{
    font-size: 2.5rem;
    color:var(--light-color);
    display: none;
}

/*------------- Login for page for the user -------------*/

.login-form-container{
    position: fixed;
    top:-105%; left:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    z-index: 10000;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:40rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}

.login-form-container form .buttons{
    display: flex;
    gap:1rem;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.login-form-container form h3{
    padding-bottom:1rem;
    font-size: 2.5rem;
    color:var(--black);
    text-transform: uppercase;
}

.login-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:1rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p{
    padding:1rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.login-form-container form p a{
    color: #98DAD9;
    text-decoration: underline;
}
 
.login-form-container #close-login-form{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}
/*-------------Home section desgin and background -------------  */
.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}
.home h1{
    color: var(--black);
    font-size: 6.5vw;
    text-transform: uppercase;
}
.home span{
    color: var(--greyish-blue);
    font-size: 6.5vw;
    text-transform: uppercase;
}
.home img{
    width:100%;
    margin:1rem 0;
}

/*-------------icons: grid-container design, boxes size and stle, icons and text styles, style content-------------*/
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #2E424D;
}
.icons-container .icons{
    background:#EAEBED;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
    gap:1.5rem;
}

.icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height:5rem;
    font-size:2.5rem;
    color:#2E424D; 
    background: var(--light-blue);
    text-align: center;
    border-radius: 50%;
}

.icons-container .icons .content h3{
    font-size: 2.5rem;
    color:#00615f;
}

.icons-container .icons .content p{
    font-size: 1.5rem;
    color:#2E424D;
}

.icons-container .icons:hover{
    background:var(--black);
}

.icons-container .icons:hover i{
    background:#fff;
}

.icons-container .icons:hover .content h3{
    color:#fff;
}

.icons-container .icons:hover .content p{
    color:#eee;
}

/*------------- Popular Vehicles: vehicles-slider, boxing, content-------------*/
.vehicles .vehicles-slider{
    padding-bottom: 5rem;
}

.vehicles .vehicles-slider .box{
    text-align: center;
}

.vehicles .vehicles-slider .box img{
    width: 100%;
    transform: scale(.8);
    opacity: .5;    
}
.vehicles .vehicles-slider .box .content{
    padding-top: 1rem;
    transform: scale(0); 
}
.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);
}
.vehicles .vehicles-slider .box .content h3{
    font-size: 2.5rem;
    color:var(--black);
}
/* slider for vehicle images for x1  */
.vehicles .vehicles-slider .swiper-slide-active img{
    transform: scale(1);    
    opacity: 1;
}
.vehicles .vehicles-slider .box .content .price{
    font-size: 2.5rem;
    color: #5B8291; 
    padding:1rem 0;
    font-weight: bolder;
}
.vehicles .vehicles-slider .box .content .price span{
    color: #2E424D; 
    font-size: 1.5rem;
    font-weight: normal;
}
.vehicles .vehicles-slider .box .content p{
    font-size: 1.6rem;
    color:#2E424D; 
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: var(--border);
}
.vehicles .vehicles-slider .box .content p span{
    font-size: 1rem;
    color:#98DAD9;
    padding:0 .5rem;
}
/*-------------round paging-color-------------*/
.swiper-pagination-bullet-active{
    background: #98DAD9;
}

/*-------------Services section designing and gridding ------------- */
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.services .box-container .box{
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
}
.services .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background:var(--light-blue);
    color:var(--dark-blue);
}
.services .box-container .box h3{
    font-size: 2.2rem;
    color:var(--dark-blue);
}
.services .box-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1.4rem;
    color:var(--greyish-blue);
}
.services .box-container .box:hover{
    background: var(--black);
}
.services .box-container .box:hover h3{
    color:#fff;
}
.services .box-container .box:hover p{
    color:#eee;
}
.services .box-container .box:hover i{
    background:#fff;
}

/*------------- Feutured cars designing and lay outing ------------- */
.featured .featured-slider{
    padding:1rem;
    padding-bottom: 4rem;
}
.featured .featured-slider .box{
    padding:2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}
.featured .featured-slider .box img{
    height: 15rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.featured .featured-slider .box:hover img{
    transform: scale(1.2);
}
.featured .featured-slider .box .content h3{
    font-size: 2.2rem;
    color:var(--black);
}
.featured .featured-slider .box .content .stars i{
    font-size: 1.7rem;
    color:var(--yellow);
}
.featured .featured-slider .box .content .price{
    font-size: 2.5rem;
    color:var(--dark-blue);
}

/*------------- Newsletter section for designing and lay outing ------------- */
.newsletter{
    padding:6rem 2rem;
    background: url(image/images/letter-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.newsletter h3{
    font-size: 3rem;
    color:var(--dark-blue);
}
.newsletter p{
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}
.newsletter span{
    font-size: 1.7rem;
    color:var(--dark-blue);
    padding:1rem 0;
    font-weight: bolder;
}
.newsletter form{
    max-width: 60rem;
    height:5rem;
    background:#fff;
    border-radius: 5rem;
    overflow:hidden;
    display: flex;
    margin:1rem auto;
    box-shadow: var(--box-shadow);
}
.newsletter form input[type="email"]{
    height: 100%;
    width:100%;
    padding:0 2rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}
.newsletter form input[type="submit"]{
    height: 100%;
    width:17rem;
    font-size: 1.7rem;
    color:var(--black);
    background: var(--light-blue);
    cursor: pointer;
}
.newsletter form input[type="submit"]:hover{
    background: var(--greyish-blue);
}
/*------------- Reviews section designing and Layouting------------- */
.reviews .review-slider{
    padding-bottom: 3rem;
}
.reviews .review-slider .box{
    text-align: center;
    padding:2rem;
    margin: 2rem 0;
    opacity: .4;
    transform: scale(.9);
}
.reviews .review-slider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}
.reviews .review-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}
.reviews .review-slider .box .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
}
.reviews .review-slider .box .content h3{
    color:var(--black);
    font-size: 2.2rem;
    padding-bottom: .5rem;
}
.reviews .review-slider .box .content .stars i{
    color:var(--yellow);
    font-size: 1.7rem;
}

/*-------------------------- Contact section-------------------------- */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.contact .row .map{
    flex:1 1 42rem;
    width: 100%;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}
.contact .row form{
    padding:2rem;
    flex:1 1 42rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: .5rem;
}
.contact .row form h3{
    font-size: 3rem;
    color:var(--dark-blue);
    padding-bottom: 1rem;
}

.contact .row form .box{
    width:100%;
    border-radius: .5rem;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border:var(--border);
    margin:.7rem 0;
}
.contact .row form textarea{
    height:15rem;
    resize: none;
}

/*--------------------------footer section--------------------------*/
.footer{
    background: var(--light-blue);
    padding-bottom: 8rem;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    padding:1rem 0;
    color:var(--dark-blue);
}
.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    padding:1rem 0;
    color:var(--light-color);
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--dark-blue);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
    color: var(--greyish-white);
}
.footer .credit{
    text-align: center;
    padding:1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color:var(--dark-blue);
}

.footer .credit h3{
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
}

.footer .credit span{
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
}
.footer .credit h5{
    color: var(--dark-blue);
}

/*--------------------------About us page-------------------------- */
.about-1{
    margin: 30px;
    padding: 5px;

}
.about-1 h1{
    text-align: center;
    color: var(--black);
font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: var(--dark-blue);
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 88px, 30px;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;  
}






.AboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 11rem;
    width: 100%;
    height: 40vh;

    background-size: cover;
    background-position: center;
}
.AboutUs h1{
    color: var(--black);
    font-size: 35px;
}
.AboutUs p{
    color: var(--black);
    font-size: 15px;
    padding: 10px 0;

}
.AboutContainer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    margin-top: 2%;
}

.AboutContainer .box-container .box{
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
}

.AboutContainer .box-container .box{
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    cursor:text;
}
.AboutContainer .box-container .box i{
    padding-right: .5rem;
    color: var(--dark-blue);
    font-size: 40px;
}
.AboutContainer .box-container .box h4{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 5%;
    font-weight: normal;
}
.AboutContainer .box-container .box h4 i{ 
    color: var(--light-blue);
    font-size: 1.4rem;
    padding-right: .5rem;
   
}
.AboutContainer .box-container .box h3{
    font-size: 2.2rem;
    border-bottom: 3px solid #98DAD9;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 7%;
    color: #2E424D; 
}
.AboutContainer .box-container .box:hover{
    background: var(--black);
}
.AboutContainer .box-container .box:hover h3{
    color:#fff;
}
.AboutContainer .box-container .box:hover h4{
    color:#fff;
}
.AboutContainer .box-container .box:hover i{
   
    color:#fff;
}




/* -------------media queries- smooth elements resizing and menu adjustments for mobile or short screen users -------------*/
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    .header.active{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}
@media (max-width:768px){

    #menu-btn{
        display: block;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    .header #login-btn i{
        display: block;
    }

    .header #login-btn .btn{
        display: none;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }  
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }
}

